<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

	</div>

	<nav class="site-nav">
		<span class="page-link"><a href="/">Home</a></span>
		<span class="page-link"><a href="/about">Academia</a></span>
		<span class="page-link"><a href="/music">Music</a></span>
		<span class="page-link"><a href="/about">Other</a></span>
		<span class="page-link"><a href="/about">Contact</a></span>
		<!--<span class="page-link"><a href="/web-experience">Web Experience</a></span>-->
	</nav>
</header>
