/***
* IMPORT PICO
* Can use https://picocss.com/docs/sass to reduce pico size later
*/

//@import "../node_modules/@picocss/pico/scss/pico";
//@use "../node_modules/@picocss/pico/scss/pico/colors" as colors;


// Red
$red-950: #1c0d06;
$red-900: #30130a;
$red-850: #45150c;
$red-800: #5c160d;
$red-750: #72170f;
$red-700: #861d13;
$red-650: #9b2318;
$red-600: #af291d;
$red-550: #c52f21;
$red-500: #d93526;
$red-450: #ee402e;
$red-400: #f06048;
$red-350: #f17961;
$red-300: #f38f79;
$red-250: #f5a390;
$red-200: #f5b7a8;
$red-150: #f6cabf;
$red-100: #f8dcd6;
$red-50: #faeeeb;
$red: $red-550;

$title-align: center;
$title-color: $red-500;
$title-background: #fff;

$nav-align: center;
$nav-color: $red-500;
$nav-background: #fff;

$footer-align: center;
$footer-color: #fff;
$footer-background: $red-500;

$links-colour: $red-500;
$button-colour: $red-500;

/// Colours
$backgroundColor: #fff;
$bodyColor: $red-50;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* Option 1: Narrow the main container */
.container,
main.container {
    //max-width: $max-width;   /* or any width you prefer, e.g., 720px, 640px */
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
 }

 .title-container {
	text-align: $title-align;
	color: $title-color;
}
.primary-nav-outer-container {
	margin-top: 1rem;
	background: $red-500;
	border-top: 3px solid $red-500;
	border-bottom: 3px solid $red-500;
}
nav.primary {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
nav.primary ul {
	list-style: none;
	margin: auto;
	display: block;
}
nav.primary a {
	display: inline-block;
	color: #fff;
}

.site-title {
	font-weight: bold;

}
.site-title-break {
	padding:1em;
}
footer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}
footer, footer a {
	background: $footer-background;
	color: $footer-color;
}
a {
	color: $links-colour;
}
button, [type=submit], [type=reset], [type=button], [type=file]::file-selector-button, [role=button] {
	background-color: $button-colour;
}