<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="{{ site.seo_description }}">
    <meta name="keywords" content="">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
  	<header>
  		<div class="title-outer-container">
	  		<div class="container title-container">
		  		<span class="site-title">
		  			<span>{{ site.header_title }}</span>
		  		</span>
		  		<span class="site-title-break">-</span>
		  		<span class="site-subtitle">
		  			<span>{{ site.header_subtitle }}</span>
		  		</span>
		  	</div>
		</div>	
	  	<div class="primary-nav-outer-container">
		  	<div class="container primary-nav-container">
				<nav class="primary">
			  		<ul>
					  {% for item in site.data.config.nav %}
					    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
					  {% endfor %}
					</ul>
				</nav>
			</div>
		</div>
  	</header>

  	<main class="container">
  		<head>
  			<h1>{{ page.title }}</h1>
  		</head>
  		<content>
  			{{ content }}
  		</content>
	</main>
  </body>
  <footer>
  	<div class="footer-container">
	  	<nav class="socials">
	  		<ul>
			  {% for item in site.data.config.contactLinks %}
			    <li><span class="{{ item.icon }}"></span><a href="{{ item.link }}">{{ item.title }}</a></li>
			  {% endfor %}
			</ul>
		</nav>
	</div>
  </footer>
</html>
